@{
    ViewData["Title"] = "Create New Aircraft";
}
@model flightMVC.Models.Aircraft

<h3 style="color:red;">@TempData["msj"]</h3>
<h4>Aircraft</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AircraftName" class="control-label"></label>
                <input asp-for="AircraftName" class="form-control" />
                <span asp-validation-for="AircraftName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AircraftModelId" class="control-label">Aircraft Model</label>
                <select asp-for="AircraftModelId" asp-items="ViewBag.AircraftModelId" class="form-control">
                    <option value="">-- Select Aircraft Model --</option>
                </select>
                <span asp-validation-for="AircraftModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label">Company</label>
                <select asp-for="CompanyId" asp-items="ViewBag.CompanyId" class="form-control">
                    <option value="">-- Select Company --</option>
                </select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
